* {
    margin: 0;
    padding: 0;
}

header {
    padding: 0.5em;
    text-align: center;
    width: 90%;
}

body {
    background-color: black;
}

body p {
    border-radius: 10px;
    font-family: 'Times New Roman', Times, serif;
    min-height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top:10%;
    font-size: 35px;
    color: white;
}

h1{
    border-radius: 10px;
    font-family: 'Times New Roman', Times, serif;
    min-height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top:10%;
    font-size: 35px;
    color: white;
}

div .container{
    animation : ilustrationAnimate ease-in 1s infinite;
    background-color: black;
    color: white;
    border-radius: 10px;
    border-color: lightslategray;
    border-width: 10px;
    border-style: double;
    width: auto;
}

@keyframes ilustrationAnimate{
    0%{
      transform: scale(1);
    }
    100%{
      transform: scale(1.04);
    }
  }